<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wushanghui.mp.mapper.WxMpUserMapper">
    <insert id="insertWxMpUser" useGeneratedKeys="true" keyProperty="id">
        insert into mp_user(open_id,nick_name,sex,language,headImgUrl,subscribe_scene,delete_flag,create_date,creator,update_date,updater)
        values(
            #{openId},#{nickName},#{sex},#{language},#{headImgUrl},#{subscribeScene},#{deleteFlag},#{createDate,jdbcType=TIMESTAMP},#{creator},#{updateDate,jdbcType=TIMESTAMP},#{updater}
        )
    </insert>
    <update id="logicDeleteWxMpUser">
        update mp_user t set
        t.delete_flag = '1',
        t.update_date = #{updateDate, jdbcType=TIMESTAMP, typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
        t.updater = #{updater, jdbcType=VARCHAR, typeHandler=org.apache.ibatis.type.StringTypeHandler}
        where t.open_id = #{openId,typeHandler=org.apache.ibatis.type.StringTypeHandler} and t.delete_flag = '0'
    </update>
    <delete id="physicsDeleteWxMpUser">
        delete from mp_user where id = #{id}
    </delete>
</mapper>